* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.logoandsearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

section.lowerhalf {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

nav {
    float: right;
}

h1 {
    
 color: red;
 text-align: left;
      
}