* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    justify-self: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
  
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

section {
    display: flex;
    justify-content: space-between;
}

section.upperhalf {
    flex-direction: column;
}

section.lowerhalf {
    flex-direction: row;
}

article.featuredrecipe {
    max-width: 40%;
}

article.selectedingredients {
    max-width: 40%;
    float: right;
    border: 2px solid black;
}
