* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    justify-content: flex-end;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
  
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

section {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

section.upperhalf {
    flex-direction: column;
    max-width: 30%;
    justify-self: center;
}

section.lowerhalf {
    flex-direction: row;
    justify-items: stretch;
}

article.featuredrecipe {
    min-width: 40%
}

article.featuredrecipe img {
    float: left;
    margin: 5px;
}

article.featuredrecipe p {
    float: right;
    margin: 5px;
}

article.selectedingredients {
    min-width: 40%;
    float: right;
    border: 2px solid black;
}
